/* /////////////////////////////////////////////////////////////////////////////
// ---------------------------------------------------------------------------//
// betterize.scss - Opinionated normalization for better cross-browser design //
// @author Stephen M Irving -- <@metric_dev> ---------------------------------//
// @version 0.9.9 01/03/2024 -------------------------------------------------//
// ---------------------------------------------------------------------------//
///////////////////////////////////////////////////////////////////////////// */

html {
  overflow: hidden scroll;
  box-sizing: border-box;
  color: #333;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 1em;
  line-height: 1.4;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
  cursor: default;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  -webkit-tap-highlight-color: transparent;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

*,
::before,
::after {
  box-sizing: inherit;
  background-repeat: no-repeat;
}

::before,
::after {
  vertical-align: inherit;
  text-decoration: inherit;
}

body {
  overflow-x: clip;
  margin: 0;
  background: $color-body-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

// Customize the background color to match your design.

::-moz-selection {
  background: #345171;
  color: #222;
  text-shadow: none;
}

::selection {
  background: #345171;
  color: #222;
  text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  font-family:
    'Lato',
    Helvetica,
    Arial,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  text-wrap: balance;
  white-space: unset;
}

table {
  font-variant-numeric: tabular-nums;
  border-collapse: collapse;
  border-color: currentcolor;
  border-spacing: 0;
  text-indent: 0;
  vertical-align: middle;
}

dialog {
  background-color: #fff;
  border: solid;
  color: #000;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]),
template {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

// Add the correct font weight in Chrome, Edge, and Safari.

b,
strong {
  font-weight: bolder;
  line-height: inherit;
}

// Add the correct font size in all browsers.

small {
  font-size: 80%;
  line-height: inherit;
}

// Prevent `sub` and `sup` elements from affecting the line height in
// all browsers.

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
  background-size: cover;
  background-repeat: no-repeat;
  font-style: italic;
  -ms-interpolation-mode: bicubic;
  shape-margin: 1rem;
}

img,
picture,
details {
  display: block;
}

textarea {
  resize: vertical;
}

select:not([multiple]):not([size]) {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E");
}

///
// 1. Change the font styles in all browsers.
// 2. Remove the margin in Firefox and Safari.
///

button,
input,
optgroup,
select,
textarea {
  margin: 0; // 2
  font-family: inherit; // 1
  font-size: 100%; // 1
  line-height: 1.15; // 1
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex='0'] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

a {
  cursor: pointer;
}

a,
a:link,
a:visited {
  text-decoration: none;
}


// Remove the inheritance of text transform in Edge, Firefox, and IE.

button,
select {
  text-transform: none;
}

// Correct the inability to style clickable types in iOS and Safari.

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

// Remove the inner border and padding in Firefox.
::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

// Restore the focus styles unset by the previous rule.

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  padding: 0;
}

// Add the correct vertical alignment in Chrome, Firefox, and Opera.

progress {
  display: inline-block;
  vertical-align: baseline;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

// Correct the cursor style of increment and decrement buttons in Chrome.

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

:where(details > summary:first-of-type) {
  display: list-item;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::placeholder {
  color: inherit;
  opacity: 0.54;
}

///
// 1. Correct the inability to style clickable types in iOS and Safari.
// 2. Change font properties to `inherit` in Safari.
///

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

:-moz-ui-invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:invalid {
  box-shadow: none;
}

// A better looking default horizontal rule

hr {
  display: block;
  box-sizing: content-box;
  height: 1px;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}

iframe {
  border: 0;
}

audio,
canvas,
iframe,
img,
picture,
svg,
video {
  vertical-align: middle;
}

audio,
embed,
iframe,
input,
img,
object,
picture,
select,
textarea,
video {
  max-width: 100%;
}

iframe,
img,
input,
picture,
select,
textarea,
video {
  height: auto;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

input:disabled,
select:disabled,
textarea:disabled {
  background-color: #e6e6e6;
  cursor: not-allowed;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

menu,
nav ol,
nav ul,
footer ol,
footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  margin: 0;
}

// Prevent VoiceOver from ignoring list semantics in Safari

nav li:before {
  content: '\200B';
  float: left;
}

pre {
  overflow: auto;
}

pre,
code,
kbd,
samp {
  font-family: ui-monospace, Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: 1em;
}

address {
  font-style: normal;
}

svg:not(:root) {
  overflow: hidden;
}

svg:not([fill]) {
  fill: currentcolor;
}

[aria-busy='true'] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled='true'],
[disabled] {
  cursor: not-allowed;
}

[aria-hidden='false'][hidden] {
  display: initial;
}

[aria-hidden='false'][hidden]:not(:focus) {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
