/* /////////////////////////////////////////////////////////////////////////
// betterize.scss - Opinionated normalize for better cross-browser design //
// @author Stephen M Irving -- <stephenmichaelirving@gmail.com> ////////////
// @version 0.5.0 03/14/2020 ///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////// */

*,
:before,
:after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

:before,
:after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  box-sizing: border-box;
  cursor: default;
  font-family: sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
  -moz-tab-size: 4;
       tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  word-wrap: break-word;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

body {
  background: #fefefe;
  color: #0a0a0a;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

///
/// Set the display type for the <main> element in IE 11-, and the <details>
/// element in Edge 18-, Firefox 48-, and IE.
///

details,
main {
  display: block;
}

///
/// Ensure the correct display value in all browsers.
///

summary {
  display: list-item;
}

///
/// Correct the font size and margin on <h1> elements within <section> and
/// <article> contexts in Chrome, Firefox, and Safari.
///

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

///
/// Render tables with collapsed borders by default in all browsers.
///

table {
  border-collapse: collapse;
  font-variant-numeric: tabular-nums;
  vertical-align: middle;
}

///
/// A better looking default horizontal rule.
///

hr {
  box-sizing: content-box;
  display: block;
  font-size: 2em;
  height: 1px;
  overflow: visible;
}

///
/// Remove the list-style for <ol> and <ul> elements used in <nav> elements.
///

nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

///
/// Remove the margin on nested detail lists in Chrome, Edge, IE, and Safari,
/// on nested ordered and unordered lists in Edge 18- and IE.
///

dl,
ol,
ul {
  dl,
  ol,
  ul {
    margin: 0;
  }
}

///
/// Ensure dialog elements always display correctly.
///

dialog {
  background-color: #fff;
  border: solid;
  display: block;
  height: -webkit-fit-content;
  height:    -moz-fit-content;
  height:         fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width:    -moz-fit-content;
  width:         fit-content;
}

///
/// Ensures dialog elements without the 'open' attribute are not displayed
/// and adds the correct display value for template elements in IE.
///

dialog:not([open]),
template {
  display: none;
}

///
/// Restrict sizing to the page width in all browsers.
///

iframe,
img,
input,
select,
textarea {
  height: auto;
  max-width: 100%;
}

///
/// Remove the bottom border in Chrome 57- and add the correct text decoration
/// in Chrome, Edge, IE, Opera, and Safari.
///

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

///
/// Normalize the style of <b>, <strong>, <i>, and <em> elements.
///

b,
strong {
  font-weight: 700;
  line-height: inherit;
}

i,
em {
  font-style: italic;
  line-height: inherit;
}

///
/// Correct the odd `em` font size, inheritance and size scaling issues seen
/// in some browsers.
///

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

///
/// Normalize font size across all browsers.
///

small {
  font-size: 80%;
  line-height: inherit;
}

///
/// Remove text-shadow in selection highlight:
/// @link https://twitter.com/miketaylr/status/12228805301
/// Vendor-prefixed and regular ::selection selectors cannot be combined:
/// @link https://stackoverflow.com/a/16982510/7133471
///

::-moz-selection {
  background: #b3d4fc;
  color: if(global-variable-exists('black'), $black, #000);
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  color: if(global-variable-exists('black'), $black, #000);
  text-shadow: none;
}

///
/// Normalize <sub> and <sup> elements, preventing them from affecting
/// line height in any browsers.
///

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

///
/// Change the font styles correctly across browsers and remove the margins in
/// Firefox and Safari.
///

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

///
/// Fix the inconsistent appearance across browsers.
///

button,
input,
select,
textarea {
  background-color: transparent;
  border: 1px solid WindowFrame;
  color: inherit;
  letter-spacing: inherit;
  padding: 0.25em 0.375em;
}

///
/// Ensure the correct touch action for these elements across browsers.
///

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex='0'] {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

///
/// Show the overflow in Edge 18- and IE.
///

button,
input {
  overflow: visible;
}

///
/// Remove the inheritance of text transform in Edge, Firefox, and IE.
///

button,
select {
  text-transform: none;
}

///
/// Correct the inability to style clickable types in iOS and Safari.
///

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

///
/// Remove the inner border and padding on focused buttons in Firefox.
///

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

///
/// Restore the focus styles unset by the previous rule.
///

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

///
/// Fix the inconsistent appearance across browsers.
///

select {
  -webkit-appearance: none;
     -moz-appearance: none;
  background: no-repeat right center / 1em;
  border-radius: 0;
  padding-right: 1em;
}

select:not([multiple]):not([size]) {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E");
}

///
/// Remove the default vertical scrollbar in IE 10+ and restric horizontal
/// resizing in all browsers.
///

textarea {
  overflow: auto;
  resize: vertical;
}

input:disabled,
select:disabled,
textarea:disabled {
  background-color: #e6e6e6;
  cursor: not-allowed;
}

///
/// Correct the text style of placeholders in text fields.
///

::-webkit-input-placeholder {
  color: #cacaca;
}

::-moz-placeholder {
  color: #cacaca;
}

:-ms-input-placeholder {
  color: #cacaca;
}

::-ms-input-placeholder {
  color: #cacaca;
}

::placeholder {
  color: #cacaca;
}

///
/// Correct the inability to style clickable types in iOS and Safari and change
/// font properties to inherit in Safari.
///

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

///
/// Fix the inconsistent appearance in IE.
///

::-ms-expand {
  display: none;
}

///
/// Remove the additional :invalid styles in Firefox.
///

:-moz-ui-invalid {
  box-shadow: none;
}

///
/// Fix the inconsistent border appearance across browsers and correct the
/// padding in Firefox.
///

fieldset {
  border: 1px solid #a0a0a0;
  padding: 0.35em 0.75em 0.625em;
}

///
/// Correct the text wrapping in Edge and IE and the color inheritance from
/// <fieldset> elements in IE. Remove the padding so developers are not caught
/// out when they zero out <fieldset> elements.
///

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

///
/// Add the correct display in Edge 18- and IE, and correct the vertical
/// alignment in Chrome, Firefox, and Opera.
///

progress {
  display: inline-block;
  vertical-align: baseline;
}

///
/// Correct the cursor style of increment and decrement buttons in Chrome.
///

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

///
/// Correct the appearance in Chrome and Safari and the outline style in Safari.
///

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

///
/// Remove the inner padding on search cancel buttons and search decorations in
/// Chrome and Safari on macOS.
///

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

///
/// Remove the gap between audio, canvas, iframes, images, videos and the bottom
/// of their containers: https://github.com/h5bp/html5-boilerplate/issues/440
///

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  display: inline-block;
  -ms-interpolation-mode: bicubic;
}

///
/// Hide the overflow in IE.
///

svg:not(:root) {
  overflow: hidden;
}

///
/// Ensure SVGs without fill attributes inherit color correctly.
///

svg:not([fill]) {
  fill: currentColor;
}

///
/// Add cursor defaults for relevant attributes.
///

[aria-busy='true'] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled='true'],
[disabled] {
  cursor: not-allowed;
}

///
/// Change the display on visually hidden accessible elements in all browsers.
///

[aria-hidden='false'][hidden] {
  display: initial;

  &:not(:focus) {
    clip: rect(0, 0, 0, 0);
    position: absolute;
  }
}
